body{
    background-image:url(../img/background.png);
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}

.returnBack{
    display:block;
    position:absolute;
    z-index:5;
    background-image: url(../img/back.png);
    width:50px;
    height:50px;
}

.logout {
    display: block;
    position: absolute;
    z-index: 10;
    margin-left: 735px;
    background-image: url(../img/logout2.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 58px;
}

header > a:hover {
    opacity: 0.5;
}

.headerImage{
    background-image:url(../img/categoryImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width:350px;
    height:102px;
    padding:10px;
    margin:0 auto;
}

main{
    font-family:comic Sans Ms;
    width:750px;
    margin:10px auto;
}

tr > td{
    text-align:center;
}

tr > .commentLine{
    text-align:left;
}

.mainTable{
    width:750px;
}

.idСolumn{
    width:50px;
}

.categoryСolumn{
    width:300px;
}

.mainForm{
    margin:0;
    text-align: center;
}

h3{
    color:darkblue;
}

span{
    font-size:16px;
}

.inputFields{
    margin:10px auto;
}

.inputFields > p{
    margin:5px auto;
    text-align: center;
    font-family:sans-serif;
    font-size:16px;
}

input{
    height:20px;
    width:355px;
    font-size:16px;
}

select{
    height:25px;
    width:355px;
    font-size:16px;
}


.subButton{
    display: block;
    color:midnightblue;
    width:200px;
    height:25px;
    font-family:comic Sans Ms;
    margin:10px auto;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(211,211,211), rgb(220, 225, 226));
    font-size:16px;
    text-align:center;
}

footer {
    height: 25px;
    border-top: 1px solid black;
    background-color:darkgrey;
    font-family: Arial;
    font-size:14px;
    text-align: center;
}

footer > p{
    margin:0;
    padding-top:4px;
}