body{
    background-image:url(../img/background.png);
}

header{
    font-family:comic Sans Ms;
    text-align: center;
    color:darkblue;
}

main{
    color:darkblue;
    font-size:22px;
}

h2{
    margin:0;
}
main > h3 {
    text-align: center;
}
.userData{
    margin: 0 auto;
    width: 500px;
    text-align: left;
}

.userData > p{
    margin:0;
}

.buttonsCosts{
    margin: 0 auto;
    width: 500px;
}

.buttonsSignForm{
    margin: 0 auto;
    width: 240px;
}

.mainButton{
    display: inline-block;
    color: midnightblue;
    width:240px;
    height:80px;
    font-family:comic Sans Ms;
    margin:25px auto;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(211,211,211), rgb(220, 225, 226));
    font-size:26px;
    text-align:center;
    text-decoration: none;
}

.mainButton:hover {
    background: linear-gradient(rgb(128,128,128), rgb(128, 128, 128));
    cursor: pointer;
}

