body{
    background-image:url(../img/background.png);
}

.wrapper{
    width:600px;
    margin:0 auto;
    border: 1px solid black;
    background-color:white;

}

header{
    font-family:comic Sans Ms;
    color:darkblue;
}

.logout {
    display: block;
    position: absolute;
    z-index: 10;
    margin-left: 535px;
    background-image: url(../img/logout2.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 58px;
}

header > a:hover {
    opacity: 0.5;
}

.headerImage{
    background-image:url(../img/main_pict.jpg);
    background-position: center;
    width:402px;
    height:282px;
    margin:10px auto;
}

.headerText > h1{
    margin:0;
    text-align: center;
}

main{
    margin:0 auto;
    padding-top:10px;
    height:130px;
    width:600px;
}

.mainButton{
    display: block;
    width:400px;
    height:50px;
    font-family:comic Sans Ms;
    margin:10px auto;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(211,211,211), rgb(220, 225, 226));
    font-size:26px;
    text-align:center;
}

.mainButton:hover {
    background: linear-gradient(rgb(128,128,128), rgb(128, 128, 128));
    cursor: pointer;
}

.mainButton > a{
    text-decoration: none;
    color: midnightblue;
}

footer {
    height: 25px;
    width:600px;
    border-top: 1px solid black;
    background-color:darkgrey;
    font-family: Arial;
    font-size:14px;
    text-align: center;
}

footer > p{
    margin:0;
    padding-top:4px;
}